<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/styles/root.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/admin-dashboard.css">
</head>

<body>

    <div id="root">

        <aside>
            <div id="title">
                <h2>Pizza Admin</h2>
                <p>Gerenciador de cardápio</p>
            </div>
            <nav>
                <p>Menu</p>
                <button>Produtos</button>
                <button>Configurações</button>
            </nav>
        </aside>
        <div>
            <h2>Produtos</h2>
        </div>
        <div></div>

    </div>

</body>

</html>