#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    z-index: 9;
}

#overlay.open {
    opacity: 1;
    visibility: visible;
}

#cart {
    position: fixed;
    right: 20px;
    bottom: 20px;

    display: none;
    z-index: 10;
}

#cart-button {
    position: sticky;
    width: 60px;
    height: 60px;

    background-color: #dbdbdb96;
    box-shadow: 1px 2px 3px #000000d1;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#cart_layout {
    position: fixed;

    inset: 0;
    min-height: 100vh;
    width: 95vw;

    display: flex;
    justify-self: center;

    z-index: 10;
    transform: translateX(200%);
    background-color: var(--text-light-2);
}

#cart_layout.open {
    transform: translateX(0);
}

#cart_content {
    display: grid;

    grid-template-rows: auto minmax(0, 1fr) auto;

    width: 100%;
    height: 100vh;

    background-color: var(--cart-background);
}

#cart_header h3, .cart_card, .cart_card_buttons div, .cart_card_info h5 {
    color: var(--black);
}

#cart_generate {
    padding: 10px;
    overflow-y: scroll;
}

/* Cart_generate */

.cart_card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    border: 2px var(--border) solid;
    border-radius: 10px;

    height: 100px;

    margin-bottom: 12px;
    padding: 10px;
    background-color: var(--item-background);
}

.cart_card_info {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-self: center;

    height: 100%;
}

#cart_header {
    display: grid;
    align-content: center;

    width: 100%;
    height: 100%;

    padding: 10px;

    grid-template-columns: 1fr 80% 1fr;
}

#cart_header button, #cart_header h3 {
    width: 100%;
    height: 100%;
}

#cart_header h3 {
    align-self: center;
    text-align: center;
}

#cart_header button {
    background-color: var(--cart-background);
    border: 0;
    border-right: 5px;
}

#cart_header button:hover {
    cursor: pointer;
}

.cart_card_info h5 {
    font-size: 18px;
}

.cart_card_info p {
    font-size: 12px;
    color: var(--text);
    font-weight: 500;
}

.cart_card_buttons {
    display: flex;
    justify-content: space-around;
    justify-self: center;
    align-items: center;

    min-width: 90%;
    max-width: 170px;


    font-size: 25px;
}

.cart_card_buttons button, .cart_card_buttons div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 10px;

    font-size: 22px;
    font-weight: bold;
}
.button-less, .button-plus {
    cursor: pointer;
}

.button-less {
    background-color: var(--light-red);
    color: var(--item-background);
}

.cart_card_buttons div {
    width: 25%;
    height: 50%;
    text-align: center;
}

.button-plus {
    background-color: var(--light-green);
    color: var(--item-background);
}

#cart_footer {
    height: 25vh;

    padding: 10px;
    background-color: var(--item-background);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    display: grid;
    grid-template-rows: 2fr 3fr 2fr;
}

#cart_footer_price, #cart_footer_finish {
    width: 100%;
    height: 100%;
    padding: 5px 0;

    display: flex;
    justify-content: space-between;
}

#cart_footer_price {
    border-bottom: 1px solid var(--border);
}

#cart_footer_finish {
    padding-top: 7px;
}

#cart_footer a {
    text-decoration: none;
    cursor: pointer;

    display: flex;

    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 90%;
    height: 100%;

    padding: 10px;

    border: 0;
    border-radius: 10px;

    font-size: 20px;
    color: var(--white);
    background-color: var(--light-green);
}

#cart_footer a:hover {
    background-color: var(--green);
}
