@media screen and (min-width: 750px) {
    main section {
        width: 100vw;

        margin: auto;
    }

    #best_sellers,
    #pizzas,
    #napoletanas,
    #pizzas-size,
    #calzones,
    #drinks {
        max-width: calc(100vw - 100px);
    }

    main .cards {
        justify-content: left;
    }

    main .card {
        width: 400px;
    }

    #best_sellers .cards {
        justify-content: left;
        grid-template-columns: repeat(auto-fit, minmax(120px, 130px));
        gap: 12px;

    }

    #best_sellers .card {
        display: inline-grid;
        justify-content: space-around;

        min-height: 50px;
        width: 100%;

        margin-right: 10px;
    }

    #best_sellers .card img {
        width: 100%;
        height: 100px;
    }

    .hero {
        justify-content: left;
    }

    .restaurant-name,
    .hero-content {
        width: 35vw;
    }

    .restaurant-name,
    .hero-content {
        margin-left: 30px;
    }

    #modal {
        width: 50vw;
    }

    #cart_layout {
        max-width: 50vw;
        justify-self: flex-end;
    }
}

@media screen and (min-width: 924px) {

    header #content {
        width: 40vw;
        margin: auto;

        display: flex;
        justify-content: space-around;
        align-items: center;

        padding: 10px;
    }

    #scroll-indicator-text {
        display: block;
    }

    .hero-content {
        margin: auto;
    }


    main h2 {
        font-size: 35px;
    }

    main h3 {
        font-size: 27px;
    }

    #best_sellers .card {
        margin: 10px auto;
    }

    #best_sellers .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 170px));
    }

    #best_sellers .card {
        max-width: 170px;
    }

    #cart_layout {
        max-width: 37vw;
        justify-self: flex-end;
    }

    #cart_card_buttons {
        max-width: 70%;
    }
}