@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
    --red: rgb(177, 59, 59);
    --green: rgb(46, 156, 46);
    --white: rgb(241, 233, 233);
    --black: rgb(22, 21, 21);

    --text: #4d4d4d;
    --text-light: #6B6B6B;
    --text-light-2: #bab9b9;
    --text-light-3: #a19e9e;
    --text-dark: rgb(65, 65, 65);

    /* Cart */
    --cart-background: #F5F5F5;
    --item-background: #FFFFFF;
    --light-red: #D95353;
    --light-green: #2E9B38;
    --light-green-2: #2e8c38;
    --border: rgb(34 34 34 / 45%);
    --font-family-1: "Bree Serif", serif;
    --font-family-2: 'Poppins', sans-serif;
}